body{
    background: rgb(255,236,210);
    background: linear-gradient(90deg, rgba(255,236,210,1) 25%, rgba(252,182,159,1) 75%);
    height: auto;
}

/* heading styles*/
.heading{
    margin: 0 auto;
    text-align: center;
    width: auto;
}

.heading button, .custom-control{
    margin-top: 20px;
}

/* grid container for board */
.board-grid{
    width: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    height: auto;
}

.board-square{
    height: 150px;
    display:flex;
    justify-content: center;
    align-items: center;
}

/*border styling to make tic tac toe style board */
.top-row, .middle-row{
    border-right: 2px black solid;
    border-bottom: 2px black solid;
}

.bottom-row{
    border-right: 2px black solid;
    border-bottom: none;
}

.right-column{
    border-right: none;
}

/* adjusting the individual markers */
.marker{
    font-size: 4em;
}

/*winning message */
.winningMessage{
    text-align: center;
    font-size: 2rem;
}

.highlightWinners{
    color:red;
}